<h1>Product</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="productForm.dirty && productForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="productForm.dirty && barcode.invalid">Enter valid 13 digit Barcode</div>
    <div class="alert alert-warning" *ngIf="productForm.dirty && name.invalid">Enter at least 10 characters in Name</div>

    <form (ngSubmit)="!productForm.invalid && saveProduct()" #productForm="ngForm">
        <fieldset class="form-group">
            <label>Barcode</label>
            <input type="text" #barcode="ngModel" [(ngModel)]="product.barcode" class="form-control" name="barcode"
                required="required" minlength="13" maxlength="13">
        </fieldset>
 
        <fieldset class="form-group">
            <label>Name</label>
            <input type="text" #name="ngModel" [(ngModel)]="product.name" class="form-control" name="name"
                required="required" minlength="10">
        </fieldset>

        <fieldset class="form-group">
            <label>Quantity</label>
            <input type="number" #name="ngModel" [(ngModel)]="product.quantity" class="form-control" name="quantity"
                required="required">
        </fieldset>

<!--    <fieldset class="form-group">
            <label>Target Date</label>
            <input type="date" #targetDate="ngModel" [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
                (ngModelChange)="todo.targetDate = $event" class="form-control" name="targetDate" required="required">
        </fieldset> -->

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>